.subtotal {
  margin-left: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px, rgba(0, 0, 0, 0.04) 0px 6px 6px;
}

.subtotal__header {
  display: flex;
  align-items: center;
}

.subtotal__header > h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.subtotal__body {
  margin: 1rem 0;
}

.subtotal__text1 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.subtotal__text2 {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  color: var(--primary-color);
}

.subtotal__text3 {
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  color: var(--primary-color);
}

.subtotal__total {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 400;
}

.subtotal__button {
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 2rem;
}

.subtotal__button:hover {
  background-color: #333333;
}

@media (max-width: 720px) {
  .subtotal {
    margin: 0;
  }
}
