.header__container {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  top: 0;
  background-color: #ffffff;
  position: sticky;
  z-index: 100;
  box-shadow: rgb(226, 226, 226) 0px -2px 0px inset;
}

.header__logo {
  display: flex;
  font-size: 2rem;
  text-decoration: none;
  margin-left: 4rem;
}

.header__logoFirst {
  font-weight: 500;
  color: black;
}

.header__logoSecond {
  font-weight: 900;
  color: var(--primary-color);
}

.header__nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 4rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.header__navOption {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
}

.header__cartText {
  font-size: 1.2rem;
  font-weight: 400;
}

.header__cartIcon > svg {
  font-size: 1rem !important;
}

.header__navCart {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
}

.header__cartIcon {
  margin-right: 0.3rem;
}

.header__cardNumber {
  background-color: var(--primary-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin-left: 0.5rem;
  border-radius: 50%;
  color: black;
}

@media (max-width: 720px) {
  .header__logo {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  .header__cartText {
    font-size: 0.9rem;
  }
  .header__nav {
    margin-right: 2rem;
    font-size: 0.9rem;
  }
}
